<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
        <ion-title>
          Hello World
        </ion-title>
        <ion-item lines="none">
          <ion-label *ngIf="darkMode">Dark</ion-label>
          <ion-label *ngIf="!darkMode">Light</ion-label>
          <ion-toggle slot="start" name="blackberry" color="medium" (ionChange)="toggleTheme()"></ion-toggle>
        </ion-item>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hello world com Ionic</strong>
  </div>
</ion-content>
